.container
  .content
    .row
      %h2 
        Matching Loves for 
        %a{:href => "/user/#{@user}"} 
          = @user
      %i 
        Reload the page or click 
        %a{:href=>"/"}
          Match Another User
	
      %table{:class => "table table-striped"}
        %tr
          %th Love
          %th Compatibility
          %th Your Matches
          %th Their Matches

        - @loves.each_with_index do |love, index|
          %tr
            %td
              %a{:href => "/user/#{love["name"]}"} 
                = love["name"]
              in 
              %i= love["location"]
            %td
              = love["matching_wants"] / (1.0 / love["matching_has"])
            %td
              - love["my_interests"].each do |att|
                %a.btn.btn-success
                  %i.icon-ok.icon-white
                  =att
            %td
              - love["their_interests"].each do |att|
                %a.btn.btn-success
                  %i.icon-ok.icon-white
                  =att